@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    background-color: #f1f1f1 !important;
}

#cabecera {
    text-align: center;
    text-shadow: 0cap;
    font-family: 'Titillium Web', sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;


}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px 2px 2px;
    text-decoration: none;
}

li a:hover {
    color: rgba(255, 255, 255, 0.61);

}

.container {
    margin: 10px;
    padding: 16px;
    background-color: #f1f1f1;
}

p {
    text-align: justify;
}

#formacion,
#trabajos,
#tarjeta,
#contacto {
    margin-top: 30px;
}


section h1,
section h5 {
    color: #757575;
}

section {
    padding: 20px;
    background-color: white !important;
}

.fas {
    margin-right: 16px;
}

h5 a,
#h5-idiomas,
#h3-contactos {
    text-decoration: none;
    color: #757575 !important;
}

.card-title {

    text-align: center;
}

.popover {
    color: #009688;
}

.popover-body {
    font-weight: bold !important;
}

.popover-body,
.popover-header {
    text-align: center !important;
}

.popover-punteros {
    cursor: pointer;
}

footer {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: #757575;
    background-color: lightgray;
}

.panel-izq {
    float: left;
    width: 100%
}

.margen-derecho {
    margin-right: 16px !important
}

.main-contenedor {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.iconos {
    color: #009688 !important;
}

#btn_enviar {
    margin: 10px;
}